.Join{
    display: flex;
    gap: 10rem;
    padding:  0 2rem;
}

.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.left-j>hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid orange;
    border-radius: 10%;
    margin: -10px 0;
}

.right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 2rem 2rem;
}

.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

::placeholder{
    color: var(--orange);
    font-weight: bold;

}

.btn-j{
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px){

    .Join{
        flex-direction: column;
        gap: 2rem;
        

        justify-content: center;

    }

    .left-j{
        font-size: xx-large;
        flex-direction: column;
    }

    .right-j{
        padding: 2rem;
    }
}
    